    /* Задаем шрифт и убираем отступы у body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
    /* Убираем подчеркивание у всех ссылок */
a {
  text-decoration: none;
  }
  
    /* Стилизация ссылок меню */
.menu-link {
     color:   cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}
  
    /* Стилизация заголовков h1 */
.main-heading {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}
  
    /* Стилизация параграфов */
.paragraph-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}
  
    /* Стилизация заголовков h2 */
.section-heading {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}